

      <ion-content fullscreen class="ion-padding">
        <br><br><br><br>
        <ion-grid>
          <ion-row class="ion-margin-vertical">
            <ion-col size = "4"   >
              <ion-button (click) = "detailedAlert(1)">{{thisEventsAndAlerts[0].alertDateString}}</ion-button>
            </ion-col>

            <ion-col size = "4">
              <ion-button (click) = "detailedAlert(2)">{{thisEventsAndAlerts[1].alertDateString}}</ion-button>
            </ion-col>
             
            <ion-col size = "4">
              <ion-button (click) = "detailedAlert(3)">{{thisEventsAndAlerts[2].alertDateString}}</ion-button>
            </ion-col>

          </ion-row>

          <ion-row class ="ion-justify-content-evenly">                 
            <ion-col size = "4"  >
              <ion-button (click) = "detailedAlert(4)">{{thisEventsAndAlerts[3].alertDateString}}</ion-button>
            </ion-col>
               
            <ion-col size = "4" >
              <ion-button (click) = "detailedAlert(5)">{{thisEventsAndAlerts[4].alertDateString}}</ion-button>
            </ion-col>
          </ion-row>          
 

        </ion-grid>

        
      
     
      
 
